<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>login</title>
</head>

<body>

    <section class="vh-100">

        <!-- Card -->

        <div class="row row-cols-1 row-cols-md-2 g-4 container-fluid">
            <div class="col">
                <div class="card">
                    <img src="https://source.unsplash.com/1200x400/?createAccount,email" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Feature 1</h5>
                        <p class="card-text">The website should have a user-friendly registration or sign-up process
                            that allows users to create an account easily.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://source.unsplash.com/1200x400/?mail,Technology" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Feature 2</h5>
                        <p class="card-text">User can send multiple email, just in single click,
                            this site is built for business personal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://source.unsplash.com/1200x400/?support,chating" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Feature 3</h5>
                        <p class="card-text">Customer support options, such as email or chat support,
                            can be beneficial in case
                            of technical difficulties or other issues.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://source.unsplash.com/1200x400/?Computer,Engineer" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Feature 4</h5>
                        <p class="card-text">Users should be able to create and send emails, including the ability to
                            attach files, insert images, and format the text.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Clausal Implementation -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide container-fluid carousel-fade my-4"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://source.unsplash.com/1200x200/?Computer,Technology" class="d-block w-100 "
                        alt="...">
                    <div class="carousel-caption d-none d-md-block shadow p-3 mb-5 bg-body-tertiary rounded"
                        style="color: rgb(27, 27, 26); background: rgb(191, 204, 216); border: chocolate;">
                        <h5>Email Service Provider</h5>
                        <p>User Friendly ESP Platform</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://source.unsplash.com/1200x200/?Technology,mail" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block shadow p-3 mb-5 bg-body-tertiary rounded"
                        style="color: rgb(27, 27, 26); background: rgb(191, 204, 216); border: chocolate;">
                        <h5>Email Service Provider</h5>
                        <p>User Friendly ESP Platform</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/1200x200/?mail,Technology" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block shadow p-3 mb-5 bg-body-tertiary rounded"
                        style="color: rgb(27, 27, 26); background: rgb(191, 204, 216); border: chocolate;">
                        <h5>Email Service Provider</h5>
                        <p>User Friendly ESP Platform</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>


</body>

</html>