<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Service Provider</title>

</head>

<body>
    <div class="m-4">

    </div>
    <section>
        <div class="flex-md-row my-3 ml-3">
            <h3>Email Service Index Page Working<a style="color: rgb(255, 157, 0);"> Provider</a></h3>
        </div>
    </section>
</body>

</html>