<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>signup</title>
</head>

<body>

	<!-- SignUp -->
	<div class="flex-md-row my-3 ml-3">
		<h3>
			Email Service<a style="color: rgb(255, 157, 0);"> Provider</a>
		</h3>
	</div>
	<section class="vh-100">
		<div class="container py-5 h-100">
			<div class="row d-flex align-items-center justify-content-center h-100">

				<div class="col-md-8 col-lg-7 col-xl-6">

					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
						class="img-fluid" alt="Phone image" style="margin-bottom: 50%;">
				</div>
				<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

					<div class="row d-flex align-items-center justify-content-center h-100">

						<h2>
							<a style="color: rgb(42, 38, 38);">SignUp</a>
						</h2>

					</div>

					<!-- Alert Implementation -->

					<th:block th:if="${session.message}">
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							<strong>
								<a class="text-center fs-4 text-success">[[${session.message}]]</a>
							</strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>


						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</th:block>

					

					<!-- Registration Form -->
					<form action="createUser" method="post">
						<!-- name -->
						<div class="form-outline mb-4">
							<input type="name" id="form1Example13" class="form-control form-control-lg" name="name"
								required /> <label class="form-label" for="form1Example13">Name</label>
						</div>

						<!-- Email input -->
						<div class="form-outline mb-4">
							<input type="email" id="form1Example13" class="form-control form-control-lg" name="email"
								required /> <label class="form-label" for="form1Example13">Email address</label>
						</div>

						<!-- Password input -->
						<div class="form-outline mb-4">
							<input type="password" id="form1Example23" class="form-control form-control-lg"
								name="password" required />
							<label class="form-label" for="form1Example23">Password</label>
						</div>

						<!-- phone no -->

						<div class="form-outline mb-4">
							<input type="mobileNo" id="form1Example13" class="form-control form-control-lg" name="phone"
								required /> <label class="form-label" for="form1Example13">Mobile No</label>
						</div>

						<!-- about -->
						<div class="form-group">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
								name="about"></textarea>
							<label for="exampleFormControlTextarea1">About</label>
						</div>

						<!-- Profile Pic -->

						<div class="form-group" style="margin-bottom: 10%;">
							<input class="form-control" id="image" type="file" name="profilePic" placeholder="Photo"
								required="" capture>
							<label class="header">Profile Photo</label>
						</div>

						<!-- Submit button -->
						<button style="margin-bottom: 20%;" type="submit"
							class="btn btn-primary btn-lg btn-block">Register</button>

					</form>

				</div>
			</div>
		</div>

	</section>
	<!-- Footer
	<footer class="bg-light text-center text-lg-start">
		<div class="text-center p-3" style="background-color: rgba(114, 105, 105, 0.2);">
			© Copyright 2023 Email Service Provider - All Rights Reserved
		</div>
	</footer> -->
</body>

</html>